*~
*.1
*.3
*.5
*.7
*.bin
*.flags
*.ko
*.ko.cmd
*.la
*.lo
*.log
*.mod.c
*.mod.o
*.o
*.o.cmd
*.so
*.sh
*.sw?
*.trs
.depend
.deps
.dirstamp
.libs
.tmp_versions
.*check*
.*install*
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
m4
!m4/ac_define_dir.m4
include/libv4l-plugin.h
